/* TT Norms Tochka Extended Font Face Declarations */

/* Thin (100) */
@font-face {
  font-family: "TT Norms Tochka Extended";
  src: url("./TT_Norms_Pro_Tochka_Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Norms Tochka Extended";
  src: url("./TT_Norms_Pro_Tochka_Thin_Italic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

/* ExtraLight (200) */
@font-face {
  font-family: "TT Norms Tochka Extended";
  src: url("./TT_Norms_Pro_Tochka_ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Norms Tochka Extended";
  src: url("./TT_Norms_Pro_Tochka_ExtraLight_Italic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

/* Light (300) */
@font-face {
  font-family: "TT Norms Tochka Extended";
  src: url("./TT_Norms_Pro_Tochka_Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Norms Tochka Extended";
  src: url("./TT_Norms_Pro_Tochka_Light_Italic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Normal/Regular (400) */
@font-face {
  font-family: "TT Norms Tochka Extended";
  src: url("./TT_Norms_Pro_Tochka_Normal.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Norms Tochka Extended";
  src: url("./TT_Norms_Pro_Tochka_Normal_Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "TT Norms Tochka Extended";
  src: url("./TT_Norms_Pro_Tochka_Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Norms Tochka Extended";
  src: url("./TT_Norms_Pro_Tochka_Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Medium (500) */
@font-face {
  font-family: "TT Norms Tochka Extended";
  src: url("./TT_Norms_Pro_Tochka_Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Norms Tochka Extended";
  src: url("./TT_Norms_Pro_Tochka_Medium_Italic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* DemiBold (600) */
@font-face {
  font-family: "TT Norms Tochka Extended";
  src: url("./TT_Norms_Pro_Tochka_DemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Norms Tochka Extended";
  src: url("./TT_Norms_Pro_Tochka_DemiBold_Italic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

/* Bold (700) */
@font-face {
  font-family: "TT Norms Tochka Extended";
  src: url("./TT_Norms_Pro_Tochka_Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Norms Tochka Extended";
  src: url("./TT_Norms_Pro_Tochka_Bold_Italic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* ExtraBold (800) */
@font-face {
  font-family: "TT Norms Tochka Extended";
  src: url("./TT_Norms_Pro_Tochka_ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Norms Tochka Extended";
  src: url("./TT_Norms_Pro_Tochka_ExtraBold_Italic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

/* Black (900) */
@font-face {
  font-family: "TT Norms Tochka Extended";
  src: url("./TT_Norms_Pro_Tochka_Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Norms Tochka Extended";
  src: url("./TT_Norms_Pro_Tochka_Black_Italic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

/* ExtraBlack (950) */
@font-face {
  font-family: "TT Norms Tochka Extended";
  src: url("./TT_Norms_Pro_Tochka_ExtraBlack.woff2") format("woff2");
  font-weight: 950;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Norms Tochka Extended";
  src: url("./TT_Norms_Pro_Tochka_ExtraBlack_Italic.woff2") format("woff2");
  font-weight: 950;
  font-style: italic;
  font-display: swap;
}
